<div class="product-form__buttons">
  <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}">
    
    {{ 'products.product.add_to_cart' | t }}

  </button>
  {%- if block.settings.show_dynamic_checkout -%}
  {{ form | payment_button }}
  {%- endif -%}
</div>