<div class="product-form__buttons">
  <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary">  
    {{ 'products.product.add_to_cart' | t }}
  </button>
  {%- if block.settings.show_dynamic_checkout -%}
  {{ form | payment_button }}
  {%- endif -%}
</div>

<script>
	
</script>