<div class="product-form__buttons">
  <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}">
    {%- if product.selected_or_first_available_variant.available -%}
    {{ 'products.product.add_to_cart' | t }}
    {%- else -%}
    {{ 'products.product.sold_out' | t }}
    {%- endif -%}
  </button>
  {%- if block.settings.show_dynamic_checkout -%}
  {{ form | payment_button }}
  {%- endif -%}
</div>